<div class = "container bg-light py-5">
    <h1 class= "display-5 fw-bold">Welcome to the Quiz App</h1>
    <p class= "col-md-8 fs-4">This quiz will contain 5 questions. Each carry 3 mark</p>
    <h4>Rules :</h4>
    <ol>
        <li>Correct answer gives you 3 mark</li>
        <li>Wrong answer gives you -1</li>
        <li>you will have 60 sec for each question</li>
        <li>Refreshing this page will reset the question</li>
    </ol>
    <button type="button" class="btn btn-primary" routerLink="/question">Start Quiz</button>
   

</div>
